body {
  background-color: lightgoldenrodyellow;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding-top: 25px;
  background-color: palegoldenrod;
}

#form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 400px;
  height: 350px;
  width: 600px;
  gap: 10px;
  background-color: rgb(238, 207, 170);
  /* border-color: black;
  border-width: 3px; */
}

#form .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#form h1 {
  margin: 0px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
  width: 90%;
  background-color: white;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

h5 {
  margin: 0px;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #eeddaa;
  padding-left: 10px;
  padding-right: 10px;
}

.book-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  height: 50px;
  width: 100px;
}