body {
  background-color: lightgoldenrodyellow;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  height: 100%;
  width: 100%;
  padding-top: 25px;
  background-color: palegoldenrod;
}

#form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 600px;
  gap: 10px;
  background-color: rgb(238, 207, 170);
  border: 1px solid gray;
}

#form .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#form h1 {
  margin: 0px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;
  width: 75%;
  background-color: white;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h3 {
  margin: 0px;
}

.to-do {
  color: #ff6961;
}

.in-progress {
  color: #ffb54c;
}

.done {
  /* color: 7abd7e; */
  color: #8cd47e;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eeddaa;
  padding-left: 10px;
  padding-right: 10px;
}

.book-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 75%;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  height: 50px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 5px;
}

#add {
  background-color: #d3d4d9;
}

#submit {
  background-color: #d3d4d9;
}

#update {
  background-color: #dedfe4;
}

/* #delete {
  background-color: #f3f4f9;
} */